-tmps_load = "$('progress_password').setStyle({visibility: 'visible'}); $('errors_password').update('')"
-tmps_comp = "$('progress_password').setStyle({visibility: 'hidden'})"
-tmps_html = { :method => :put, :id => "TRIMPWD" }
-remote_form_for @user, :url => account_password_path(@user), :html => tmps_html, :loading => tmps_load, :complete => tmps_comp do
  %table.account{ :width => "50%", :align => "center", :style => "margin: 20px auto" }
    %tr
      %td{ :colspan => "2" }
        %div#errors_password.errors
    %tr
      %td<
        %label{ :for => "data[password]" }== Current #{word_trim} Password:
      %td= password_field :data, :old, :size => "18", :maxlength => "48"
    %tr
      %td{ :colspan => "2", :style => "padding: 8px" }<
    %tr
      %td<
        %label{ :for => "data[new]" } New Password:
      %td= password_field :data, :new, :size => "18", :maxlength => "48"
    %tr
      %td<
        %label{ :for => "data[new_confirm]" } Confirm New Password:
      %td= password_field :data, :new_confirm, :size => "18", :maxlength => "48"
    %tr
      %td{ :colspan => "2" }
        %table.submit
          %tr
            %td<
              %div#progress_password{ :style => "visibility: hidden" }<
                =image_tag "/images/indicators/standard.gif", :size => "18x18", :alt => ""
            %td<
              =image_submit_tag "/images/buttons/normal_blank.gif", :id => "submit", :onmouseover => "javascript:this.className='fb_on'", :onmouseout => "javascript:this.className='fb_off'", :class => "fb_off"