%p<
  ==Your #{word_website} account's username and password is displayed below. You can confirm it for configuring software that integrates #{word_website}, or change your username or password at any time.