=render :partial => "shared/separator"
%h3 Please Note:
%p
  ==To use other software that offers built-in #{word_website} account support you can't use your Twitter username like you can at the #{word_website} website to share your #{word_website}s. You must enter your #{word_website} username and password.