%div#tagline== Your #{word_trim} Account Profile
%table{ :width => "100%" }
  %tr
    %td{ :width => "10%" }<
    %td{ :width => "80%", :style => "padding-right: 50px; vertical-align: top; text-align: center" }

      =render :partial => "intro"
      =render :partial => "index"
      =render :partial => "software"

    %td{ :width => "10%", :style => "vertical-align: top" }
      =render :partial => "account/shared/sb"
