%div#tagline== #{word_trim} Account Email Address
%table{ :width => "100%" }
  %tr
    %td{ :width => "10%" }<
    %td{ :width => "80%", :valign => "top", :style => "padding-right: 50px; vertical-align: top; text-align: center" }
      =render :partial => "shared"

    %td{ :width => "10%", :valign => "top" }
      =render :partial => "account/shared/sb"
