%table{ :align => "center" }
  %tr
    %td{ :style => "width: 20px" }
    %td<
      %h1= title
    %td{ :style => "width: 20px" }
  %tr<
    %td{ :colspan => "3", :style => "border-bottom: 1px solid #285A73" }><