%a{ :name => "bitly_shorten" }
%h3 shorten
%p<
  ==This is an alternative method to shorten a destination URL, based on #{link_to "bit.ly's API", "http://code.google.com/p/bitly-api/wiki/ApiDocumentation"}. We mirror their main arguments and response formats.
%p
  %span.linetitle URL:
  ==http://api.#{word_trim}/v1/shorten
  %br
  %span.linetitle Method:
  GET or POST
  %br
  %span.linetitle Format:
  json
  %br
  %span.linetitle Parameters:
  %br
  %table.apimethod
    =render :partial => "welcome/api/inline_apikey_b"
    %tr
      %td.required version
      %td.required Required
      %td== Set this to 2.0.1. This is the version of the bit.ly response we have cloned.
    %tr
      %td.required longUrl
      %td.required Required
      %td The destination URL to be shortened.
%p
  %span.linetitle Response:
  %br
  %table.apimethod
    %tr
      %td.optional errorCode
      %td== The error code if an error code occurred, otherwise 0.
    %tr
      %td.optional errorMessage
      %td== The error code if an error code occurred, otherwise an empty string.
    %tr
      %td.optional results
      %td== A hash of the results based on the destination URL as the key, as per bit.ly's implementation.
%p
  %span.linetitle Examples:
%p
  %ul
    %li== http://api.#{word_trim}/v1/shorten?longUrl=http://www.google.com

=render :partial => "shared/separator"
