%a{ :name => "FAQACCOUNTS" }
%h3== Are API keys attached to a #{word_trim} account?
%p<
  ==No. #{word_trim} API keys are for applications, not user accounts. When you ask for an API key by emailing us at #{mail_to "api@tr.im"} you do not need to signup for, have, or send us your #{word_trim} account username.