%a{ :name => "FAQINCREASE" }
%h3 Can I get a rate limit increase?
%p<
  ==Yes, of course. If you need an increease we can assign a set of custom API limits for your #{word_trim} API key. Just email us if you hit API limits, or expect to. Custom API limits are usually only necessary if your application submits many requests to our API via a set of the same IP server addresses.