%tr
  %td.optional sandbox
  %td.optional Optional
  %td If present with any value a test data set will be returned, and no URL created. This is intended for testing so that you do not consume API calls or insert pointless data while in development.
