%tr
  %td.optional username
  %td.optional Optional
  %td== A #{word_trim} username that you would like to attach the URL to.
%tr
  %td.optional password
  %td.optional Optional
  %td== The password for the #{word_trim} username referenced above.