%div.notice
  %p.center.bigger{ :style => "margin-top: 45px" }<
    ==The #{word_trim} URL you requested as been flagged as spam.
  %div.center{ :style => "margin-top: 35px" }<
    ==Sometimes a spammer uses #{word_trim} URLs in their spam.<br />This has nothing to with #{word_trim}, and we have no way to prevent this.
  %div.center{ :style => "margin-top: 35px" }<
    ==As these URLs are reported to us we deactivate them,<br />but we keep them around so that they cannot be reused, and still have a destination that is not our homepage.
