%div.notice
  %p.center.bigger{ :style => "margin-top: 35px" }<
    ==Thank you for creating a new account at #{word_trim}!
  %p.center{ :style => "margin-top: 25px" }<
    Your new account has been setup, and you are now logged in.<br />You should get a confirmation email shortly.
  %p.center{ :style => "margin-top: 25px" }<
    =link_to image_tag("/images/misc/twitter_follow.png", :size => "285x116", :style => "margin: 0px 0px 0px 20px"), "http://twitter.com/trimurls/", :target => "_blank"
