%div#tagline== Authorization Completed
%div.thincontent{ :style => "width: 800px; padding-bottom: 35px" }
  %table
    %tr
      %td
        %div.notice{ :style => "font-size: 1.8em" }== Your #{word_trim} authorization has been completed.
    %tr
      %td
        %p.bold.center
          ==Thank for authorizing #{word_trim}.
          %br
          You can now proceed to close this window and continue.
