%div.notice
  %p.center.bigger{ :style => "margin-top: 45px" }<
    ==The #{word_trim} URL you requested does not seem to exist.
  %div.center{ :style => "margin-top: 35px" }<
    ==If you getting this page in error, and the URL does indeed exist in your account,<br />please contact us at #{mail_to "support@tr.im"}.
  %div.center{ :style => "margin-top: 35px" }<
    ==#{word_trim} does permit its users to delete their #{word_trim} URLs.<br />It is possible that a user shared a URL but has since removed it from our system.
