-agent = get_cached_agent(line_visit.agent_id)
%tr
  %td{ :width => "30%", :style => "padding-left: 0px" }== From #{h get_cached_country(line_visit.country_id).name} ...
  %td{ :width => "25%" }== on #{h agent.platform.name} ...
  %td{ :width => "25%" }== with #{h agent.browser.name} ...
  %td{ :width => "20%", :style => "white-space: nowrap; text-align: right; padding-right: 0px" }== #{time_ago_in_words(line_visit.created_at)} ago
