=render :partial => "dates", :locals => { :width => WEBSITE_CONFIG['chart_timeline_width'], :minus => 25, :mdbot => 3, :mdtop => ClicksReport::MAX_DAYS_BARS, :max_days => ClicksReport::MAX_DAYS_LENGTH }

