%table{ :width => "100%", :style => "margin-bottom: 35px" }
  %tr
    %td{ :width => "50%" }
      %div.chartbox{ :style => "float: left; margin: 0px 0px 15px 0px; width: #{WEBSITE_CONFIG['chart_agents_width']}px" }
        =@clicks_report.get_browsers_chart(@trim_preferences.charts, WEBSITE_CONFIG['chart_agents_width'], 250).html

    %td{ :width => "50%" }
      %div.chartbox{ :style => "float: right; margin: 0px 0px 15px 0px; width: #{WEBSITE_CONFIG['chart_agents_width']}px" }
        =@clicks_report.get_platforms_chart(@trim_preferences.charts, WEBSITE_CONFIG['chart_agents_width'], 250).html

  %tr
    %td{ :width => "50%", :style => "vertical-align: top; padding-right: 10px" }
      %table.stats{ :style => "100%" }
        %tr
          %th{ :colspan => "3" } Visitor Browsers
        =render :partial => "line_name", :collection => @clicks_report.clicks_browsers, :locals => { :total => @clicks_report.total_clicks }

    %td{ :width => "50%", :style => "vertical-align: top; padding-left: 10px" }
      %table.stats{ :width => "100%" }
        %tr
          %th{ :colspan => "3" } Visitor Platforms
        =render :partial => "line_name", :collection => @clicks_report.clicks_platforms, :locals => { :total => @clicks_report.total_clicks }

%div#url_details
  -tmps_load = "$('url_details_progress').setStyle({visibility: 'visible'}); $('button_more').hide()"
  -tmps_comp = "$('url_details_progress').setStyle({visibility: 'hidden'})"
  %a#button_more.buttonset{ :href => "javascript:void(0)", :onclick => remote_function(:url => trim_details_agents_path(:reference => reference), :loading => tmps_load, :complete => tmps_comp) }

%div#url_details_progress.invisible<
  =image_tag "/images/indicators/standard.gif", :size => "18x18", :alt => "", :style => "margin-top: 5px"
